@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,400&family=Satisfy&display=swap");

* {
  /* box-sizing: border-box; */
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

nav {
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: white;
  display: inline-block;
  font-family: "Roboto";
  text-transform: uppercase;
  position: fixed;
  height: 120px;
  left: 0;
  right: 0;
  top: 0;
  /* border: 2px solid rgb(255, 166, 0); */
}

#topNav {
  position: relative;
  margin: 0;
  padding: 0;
  /* border: 1px solid rgb(255, 0, 200); */
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 120px;
}

#topNav li {
  padding: 0 15px;
}

#topNav li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: black;
}

#topNav .icon {
  display: none;
  padding-right: 50px;
}

nav img {
  width: 200px;
  /* border: 1px solid rgb(255, 251, 0); */
  position: absolute;
  top: 0;
  left: 30px;
}

#topBar {
  left: 10%;
  position: absolute;
  height: 2px;
  border: none;
  width: 80%;
  background-color: #eee;
  top: 110px;
  z-index: 150;
}

main {
  height: 100%;
  /* border: 1px solid rgb(0, 26, 255); */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

section {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 90px;
  max-width: 1200px;
}

section p {
  max-width: 1000px;
  margin: 20px;
  font-size: 1rem;
}

section img {
  width: 400px;
  /* border-radius: 50%; */
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  margin: 30px;
}

footer {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

footer ul li {
  display: inline-block;
  padding: 30px;
}

footer ul li a {
  text-decoration: none;
}

.copyright {
  position: relative;
  bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-size: small;
  color: darkgrey;
}

.yesweb {
  color: darkgray;
  font-family: "Roboto", sans-serif;
  font-size: small;
  position: relative;
  bottom: 15px;
}

@media screen and (max-width: 800px) {
  #topNav a :not(:last-child) {
    display: none;
  }

  #topNav .icon {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  section img {
    width: 80vw;
  }

  #topNav li {
    display: none;
  }

  section {
    width: 90vw;
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
}
